body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculadora {
    background-color: #ED145B;
    padding: 20px;
    width: 300px;
    height: 370px;
    border-radius: 20px;
}

.display {
    display: flex;
    height: 40px;
    background-color: white;
    margin-bottom: 20px;
    font-size: 20px;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    row-gap: 20px;
}

.container-buttons * {
    width: 17%;
    padding: 15px;
    border-radius: 50%;
    border: none;
}

button:hover {
   background-color: rgba(255, 249, 249, 0.288);
}